[submodule "pack/core/start/vim"]
	path = pack/core/start/vim
	url = https://github.com/dracula/vim

[submodule "pack/lang/start/jedi-vim"]
	path = pack/lang/start/jedi-vim
	url = https://github.com/davidhalter/jedi-vim
[submodule "pack/lang/start/emmet-vim"]
	path = pack/lang/start/emmet-vim
	url = https://github.com/mattn/emmet-vim
[submodule "pack/core/start/vim-fugitive"]
	path = pack/core/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "pack/core/start/vim-surround"]
	path = pack/core/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "pack/core/start/auto-pairs"]
	path = pack/core/start/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs
[submodule "pack/core/start/vim-gitgutter"]
	path = pack/core/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "pack/core/start/supertab"]
	path = pack/core/start/supertab
	url = https://github.com/ervandew/supertab
[submodule "pack/core/start/vim-commentary"]
	path = pack/core/start/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "pack/core/start/ReplaceWithRegister"]
	path = pack/core/start/ReplaceWithRegister
	url = https://github.com/vim-scripts/ReplaceWithRegister
[submodule "pack/core/start/vim-sort-motion"]
	path = pack/core/start/vim-sort-motion
	url = https://github.com/christoomey/vim-sort-motion
[submodule "pack/core/start/vim-system-copy"]
	path = pack/core/start/vim-system-copy
	url = https://github.com/christoomey/vim-system-copy
[submodule "pack/core/start/vim-indent-object"]
	path = pack/core/start/vim-indent-object
	url = https://github.com/michaeljsmith/vim-indent-object
[submodule "pack/core/start/vim-textobj-line"]
	path = pack/core/start/vim-textobj-line
	url = https://github.com/kana/vim-textobj-line
[submodule "pack/core/start/vim-textobj-entire"]
	path = pack/core/start/vim-textobj-entire
	url = https://github.com/kana/vim-textobj-entire
[submodule "pack/core/start/vim-textobj-user"]
	path = pack/core/start/vim-textobj-user
	url = https://github.com/kana/vim-textobj-user
[submodule "pack/lang/start/vim-polyglot"]
	path = pack/lang/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot
[submodule "pack/lang/start/ale"]
	path = pack/lang/start/ale
	url = https://github.com/dense-analysis/ale
[submodule "pack/lang/start/tern_for_vim"]
	path = pack/lang/start/tern_for_vim
	url = https://github.com/ternjs/tern_for_vim
